<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Uploaded IT Asset Inventory Reports</h2>
        <div class="metrics">
            <h3>Cumulative Metrics:</h3>
            <div class="metrics-grid">
                <div class="metric-item">
                    <strong>Total Assets</strong>
                    <p>{{ metrics['Total Assets'] }}</p>
                </div>
                <div class="metric-item">
                    <strong>Assets Nearing End-of-Life</strong>
                    <p>{{ metrics['Assets Nearing End-of-Life'] }}</p>
                </div>
                <div class="metric-item">
                    <strong>Unused Software Licenses</strong>
                    <p>{{ metrics['Unused Software Licenses'] }}</p>
                </div>
            </div>
        </div>
        {% if reports %}
            <div class="uploaded-reports">
                <h3>List of Uploaded Reports</h3>
                <ul>
                    {% for report in reports %}
                        <li class="report-item">
                            <strong>{{ report['file_name'] }}</strong><br>
                            <span class="upload-date">Uploaded on: {{ report['upload_date'] }}</span><br>
                            <a href="{{ url_for('download_report', report_filename=report['report_path'].split('/')[-1]) }}" class="download-link">Download Report</a>
                            <div class="metrics">
                                <p><strong>Total Assets:</strong> {{ report['metrics']['Total Assets'] }}</p>
                                <p><strong>Assets Nearing End-of-Life:</strong> {{ report['metrics']['Assets Nearing End-of-Life'] }}</p>
                                <p><strong>Unused Software Licenses:</strong> {{ report['metrics']['Unused Software Licenses'] }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No reports uploaded yet.</p>
        {% endif %}

        <a href="{{ url_for('index') }}" class="back-link">Back to Upload Page</a>
    </div>
</body>
</html>
